In [2]:
import pandas as pd
path = "../data/"

In [9]:
data = pd.read_csv(path + "arsentii.ivasiuk@gmail.com_additional.csv")
data_raw = pd.read_csv(path + "AdditionalDILItest.tsv", sep="\t")
#len(data["Labels"])
data_raw

        ID                                           Abstract
0        1  19 year old female with Crohn disease develope...
1        2  20 year old woman with Crohn disease developed...
2        3  9 year old girl developed arthralgias, fever, ...
3        4  Among 40 patients with psoriasis treated with ...
4        5  31 year old woman on OCCs for 11 years was fou...
...    ...                                                ...
1995  1996  We read with interest the article by Banini et...
1996  1997  Several therapeutic options have been develope...
1997  1998  We read with great interest the study by Ishik...
1998  1999  We appreciate Gao et al. for their interest in...
1999  2000  Adolescent girls with Polycystic Ovary Syndrom...

[2000 rows x 2 columns]

In [12]:
data

,Unnamed: 0,ID,Abstract,Labels
0,0,1,19 year old female with Crohn disease develope...,1.0
1,1,2,20 year old woman with Crohn disease developed...,1.0
2,2,3,"9 year old girl developed arthralgias, fever, ...",1.0
3,3,4,Among 40 patients with psoriasis treated with ...,1.0
4,4,5,31 year old woman on OCCs for 11 years was fou...,1.0
...,...,...,...,...
1995,1995,1996,We read with interest the article by Banini et...,0.0
1996,1996,1997,Several therapeutic options have been develope...,0.0
1997,1997,1998,We read with great interest the study by Ishik...,0.0
1998,1998,1999,We appreciate Gao et al. for their interest in...,1.0
1999,1999,2000,Adolescent girls with Polycystic Ovary Syndrom...,0.0